* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    gap: 5vh;
    background-color: lightgreen;
    padding: 0 5vw;
}

.header-logo {
    min-height: 10vh;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.header-nav ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
}

main {
    padding: 3vh 0;
}

.slider {
    position: relative;
    background-color: black;
    min-height: 80vh;
    margin: 0 5vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.type {
    position: absolute;
    top: 5%;
    left: 2%;
    background-color: lightgreen;
    padding: 3vh 5vh;
    border-radius: 5px;
}

.desc {
    position: absolute;
    top: 83%;
    left: 2%;
    background-color: lightgreen;
    padding: 1vh 3vh;
    border-radius: 5px;
}

.learn-more {
    position: absolute;
    right: 5%;
    bottom: 7%;
    text-decoration: none;
    background-color: lightgreen;
    padding: 3vh 5vh;
    border-radius: 5px;
}

.s1 {
    background-color: red;
}

.s2 {
    background-color: orange;
}

.s3 {
    background-color: yellow;
}

.s4 {
    background-color: lime;
}

.nav {
    position: absolute;
    right: 50%;
    bottom: 3%;
    transform: translateX(50%);
}

.fast-search {
    padding: 5vh 3vh;
    background-color: lightgreen;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.fast-search form {
    display: flex;
}

.fast-search input {
    margin-top: 3vh;
}

#fast-search-input {
    width: 85vw;
    height: 5vh;
    padding-left: 3vh;
}

.fast-search input[type="submit"] {
    font-size: 1.8vw;
    width: 10vw;
    margin-left: 5vw;
}

.facts-company {
    padding: 5vh;
}

.about-company {
    color: lightgreen;
    font-size: 3vw;
    margin-bottom: 1vh;
}

.facts {
    list-style: none;
}

.fact {
    color: black;
    font-size: 2vw;
}

.fact:nth-child(1):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: red;
    margin-right: 1vh;
}

.fact:nth-child(2):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: orange;
    margin-right: 1vh;
}

.fact:nth-child(3):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: yellow;
    margin-right: 1vh;
}

.found-animals {
    display: flex;
    flex-direction: column;
    padding: 5vh 3vh;
    background-color: lightgreen;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 100%;
    min-height: 40vh;
    background-color: white
}

.card * {
    color: black;
}