* {
    margin: 0;
    padding: 0;
    color: white;
}

html, body {margin: 0; height: 100%; overflow-x: hidden}

input {
    color: black;
}

#open-menu,
#open-menu-footer,
.open-menu {
    display: none;
}

header {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    gap: 5vh;
    background-color: lightgreen;
    padding: 0 5vw;
    width: 90vw;
}

body {
    background-color: snow;
}

.header-logo {
    min-height: 10vh;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.nav ul {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
}

main {
    padding: 3vh 0;
}

section {
    padding: 5vh;
    margin: 15vh 0;
}

.slider {
    position: relative;
    background-color: black;
    height: 80vh;
    margin: 5vh;
    overflow: hidden;
    padding: 0;
}

.slides {
    width: 400%;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.type {
    position: absolute;
    top: 5%;
    left: 2%;
    background-color: lightgreen;
    padding: 3vh 5vh;
    border-radius: 5px;
}

.desc {
    width: 35%;
    position: absolute;
    bottom: 7%;
    left: 2%;
    background-color: lightgreen;
    padding: 1vh 3vh;
    border-radius: 5px;
}

.learn-more {
    position: absolute;
    right: 5%;
    bottom: 7%;
    text-decoration: none;
    background-color: lightgreen;
    padding: 3vh 5vh;
    border-radius: 5px;
}

.s1 {
    background-color: red;
}

.s2 {
    background-color: orange;
}

.s3 {
    background-color: yellow;
}

.s4 {
    background-color: lime;
}

.slider-nav {
    position: absolute;
    right: 50%;
    bottom: 3%;
    transform: translateX(50%);
}

.fast-search {
    padding: 5vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

.fast-search form {
    display: flex;
}

.fast-search label {
    font-size: 3vw;
}

.fast-search input {
    margin-top: 3vh;
    font-size: 1.8vw;
}

#fast-search-input {
    width: 85vw;
    height: 5vh;
    padding-left: 3vh;
}

.fast-search input[type="submit"] {
    width: 10vw;
    margin-left: 5vw;
}

.facts-company {
    padding: 5vh;
}

.about-company {
    color: lightgreen;
    font-size: 3vw;
    margin-bottom: 1vh;
}

.facts {
    list-style: none;
}

.fact {
    color: black;
    font-size: 2vw;
}

.fact:nth-child(1):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: red;
    margin-right: 1vh;
}

.fact:nth-child(2):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: orange;
    margin-right: 1vh;
}

.fact:nth-child(3):before {
    content: '';
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    background-color: yellow;
    margin-right: 1vh;
}

.found-animals {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    background-color: lightgreen;
}

.title {
    font-size: 3vw;
    margin-bottom: 3vh;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vh;
}

.card {
    width: 100%;
    min-height: 40vh;
    background-color: white;
    position: relative;
}

.card * {
    color: black;
    position: absolute;
}

.card .number {
    right: 3%;
    top: 3%;
}

.card .district {
    top: 3%;
    left: 3%;
}

.card .date {
    bottom: 3%;
    left: 3%;
}

.card .auth {
    bottom: 3%;
    right: 3%;
}

.form {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.form h2 {
    font-size: 3vw;
    padding: 10vh 10vh 5vh 10vh;
    background-color: wheat;
    width: 40%;
}

.form form {
    padding:  0 10vh 5vh 10vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}

.form input {
    font-size: 1.8vw;
    height: 5vh;
    outline: none;
    border: none;
    padding: 1%;
    margin-bottom: 2vh;
}

.form input[type="submit"] {
    margin-top: 10vh;
    height: 6vh;
}

.feedback-slider {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 15vh 5vh;
}

.feedbacks {
    display: flex;
    width: 400%;
    height: 55vh;
}

.feedback {
    border-radius: 15px;
    width: 80%;
    margin: 0 calc(10% / 4);
    column-gap: 3vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 5vh;
    background-color: lightgreen;
}

.feedback .author {
    align-self: center;
    font-size: 1.8vw;
}

.feedback .fdb-text {
    align-self: flex-start;
    font-size: 1.5vw;
}

.fdb-date {
    font-size: 1.8vw;
}

.feedback .img {
    width: 40vh;
    height: 40vh;
    background-color: aqua;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    justify-self: flex-end;
    align-self: center;
}

.right, .left {
    background-color: aqua;
    width: 5vh;
    height: 5vh;
}

.fdb-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.subscribe * {
    color: black;
}

.subscribe form,
.subscribe h2 {
    margin-left: auto;
}

.subscribe input[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 2vh;
    width: 2.5vh;
    height: 2.5vh;
}

.subscribe.form label {
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}

.subscribe input {
    margin-bottom: 3vh;
}

footer {
    padding: 5vw;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2vh;
}

.footer.nav {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

footer a {
    text-decoration: none;
}

@media screen and (max-width: 960px) {


    .open-menu {
        display: flex;
        width: 5vh;
        height: 5vh;
        background-color: aqua;
        align-self: flex-end;
    }

    #open-menu:checked ~ ul,
    #open-menu-footer:checked ~ ul {
        right: -5vw;
        transition: right 1s;
    }

    #open-menu:checked ~ label,
    #open-menu-footer:checked ~ label{
        background-color: wheat;
    }

    .header.nav,
    .footer.nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .header.nav ul,
    .footer.nav ul{
        flex-direction: column;
        background-color: wheat;
        position: absolute;
        height: 50vh;
        z-index: 1;
        top: 100%;
        right: -100vw;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 5vw;
        transition: right 1s;
    }

    main {
        padding-top: 0;
    }

    .slider {
        width: 90vw;
        height: 90vw;
        margin: 5vw;
    }

    .form form,
    .form h2 {
        width: 80%;
        padding: 3vw 10%;
        font-size: 4vw;
    }

    .form form *,
    .subscribe.form form * {
        font-size: 4vw;
    }

    .form h2 {
        font-size: 6vw;
        padding: 3vh 10%;
    }



    footer {
        grid-template-columns: 2fr 1fr;
    }

    .footer.nav ul {
        top: auto;
        bottom: calc(100% + 5vw);
    }

    .cards {
        grid-template-columns: 1fr;
    }
}


